<div class="modal fade" id="proyectoModal" tabindex="-1" aria-labelledby="proyectoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="proyectoModalLabel">{{ proyectoSeleccionado.id ? 'Editar Proyecto' : 'Agregar Proyecto'}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (submit)="guardarProyecto()">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" id="nombre" class="form-control" [(ngModel)]="proyectoSeleccionado.nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion</label>
                        <input type="text" id="descripcion" class="form-control" [(ngModel)]="proyectoSeleccionado.descripcion" name="descripcion" required>
                    </div>
                    <div class="mb-3">
                        <label for="link" class="form-label">Link</label>
                        <input type="text" id="link" class="form-control" [(ngModel)]="proyectoSeleccionado.link" name="link" required>
                    </div>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">{{ proyectoSeleccionado.id ? 'Actualizar' : 'Guardar' }}</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>