<h2>Listado de Proyectos</h2>

<div class="botonAgregar">
    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#proyectoModal" (click)="abrirModalCrear()">
        Agregar Proyecto
    </button>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proyecto of proyectos">
            <td> {{proyecto.nombre}} </td>
            <td> {{proyecto.descripcion}} </td>
            <td> {{proyecto.link}} </td>
            <td><button class="btn btn-warning" (click)="editarProyecto(proyecto)" data-bs-toggle="modal" data-bs-target="#proyectoModal">
                Editar
            </button></td>
            <td><button class="btn btn-danger" (click)="eliminarProyecto(proyecto.id!)">
                Eliminar
            </button></td>
        </tr>
    </tbody>
</table>

<app-proyecto-modal [proyectoSeleccionado]="proyectoSeleccionado" (proyectoGuardado)="obtenerProyecto()"></app-proyecto-modal>