<h2>Listado de Proyectos</h2>

<div class="botonAgregar">
    <button class="btn btn-primary" (click)="openModal()">Agregar Proyecto</button>
    <div *ngIf="isModalOpen" (click)="closeModal()"></div>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proyecto of proyectos">
            <td> {{proyecto.nombre}} </td>
            <td> {{proyecto.descripcion}} </td>
            <td> {{proyecto.link}} </td>
            <td><button class="btn btn-warning" (click)="openModal(proyecto)">
                Editar
            </button></td>
            <td><button class="btn btn-danger" (click)="eliminarProyecto(proyecto.id!)">
                Eliminar
            </button></td>
        </tr>
    </tbody>
</table>

<ng-template #formTemplate>
<p>Aqui va el menu</p>
<div class="modal fade show d-block" tabindex="-1" role="dialog" style="background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{{ proyecto.id ? 'Editar Proyecto' : 'Agregar Proyecto'}}</h2>
                <button type="button" class="btn-close" (click)="closeModal()" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <form (submit)="guardarProyecto()">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" id="nombre" class="form-control" name="nombre" required [(ngModel)]="proyecto.nombre">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion</label>
                        <input type="text" id="descripcion" class="form-control" name="descripcion" required [(ngModel)]="proyecto.descripcion">
                    </div>
                    <div class="mb-3">
                        <label for="link" class="form-label">Link</label>
                        <input type="text" id="link" class="form-control" name="link" required [(ngModel)]="proyecto.link">
                    </div>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">{{ proyecto.id ? 'Actualizar' : 'Guardar' }}</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</ng-template>

<div *ngIf="isModalOpen">
    <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
</div>