<h2>Listado de Experiencias</h2>

<div class="botonAgregar">
    <button class="btn btn-primary" (click)="openModal()">Agregar Experiencia</button>
    <div *ngIf="isModalOpen" (click)="closeModal()"></div>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let experiencia of experiencias">
            <td> {{experiencia.titulo}} </td>
            <td> {{experiencia.lugar}} </td>
            <td> {{experiencia.detalle}} </td>
            <td>{{ experiencia.periodoInicio }}</td>
            <td>{{ experiencia.periodoFinal }}</td>
            <td><button class="btn btn-warning" (click)="openModal(experiencia)">
                Editar
            </button></td>
            <td><button class="btn btn-danger" (click)="eliminarExperiencia(experiencia.id!)">
                Eliminar
            </button></td>
        </tr>
    </tbody>
</table>

<ng-template #formTemplate>
<p>Aqui va el menu</p>
<div class="modal fade show d-block" tabindex="-1" role="dialog" style="background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{{ experiencia.id ? 'Editar Proyecto' : 'Agregar Proyecto'}}</h2>
                <button type="button" class="btn-close" (click)="closeModal()" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <form (submit)="guardarExperiencia()">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Titulo</label>
                        <input type="text" id="titulo" class="form-control" name="titulo" required [(ngModel)]="experiencia.titulo">
                    </div>
                    <div class="mb-3">
                        <label for="lugar" class="form-label">Lugar</label>
                        <input type="text" id="lugar" class="form-control" name="lugar" required [(ngModel)]="experiencia.lugar">
                    </div>
                    <div class="mb-3">
                        <label for="detalle" class="form-label">Detalle</label>
                        <input type="text" id="detalle" class="form-control" name="detalle" required [(ngModel)]="experiencia.detalle">
                    </div>
                    <div class="mb-3">
                        <label for="periodoInicial" class="form-label">Periodo Inicial</label>
                        <input type="text" id="periodoInicial" class="form-control" name="periodoInicial" required [(ngModel)]="experiencia.periodoInicio">
                    </div>
                    <div class="mb-3">
                        <label for="periodoFinal" class="form-label">Periodo Final</label>
                        <input type="text" id="periodoFinal" class="form-control" name="periodoFinal" required [(ngModel)]="experiencia.periodoFinal">
                    </div>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">{{ experiencia.id ? 'Actualizar' : 'Guardar' }}</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</ng-template>

<div *ngIf="isModalOpen">
    <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
</div>