
<div>
    <h1>Proyectos</h1>
    <div>
      <label for="nombre">Nombre</label>
      <input [(ngModel)]="nuevoProyecto.nombre" id="nombre" />
    </div>
    <div>
      <label for="descripcion">Descripción</label>
      <input [(ngModel)]="nuevoProyecto.descripcion" id="descripcion" />
    </div>
    <div>
        <label for="link">Links</label>
        <input [(ngModel)]="nuevoProyecto.link" id="link" />
      </div>
    <button (click)="agregarProyectos()">Agregar Proyecto</button>
  </div>
  
  <ul>
    <li *ngFor="let proyecto of proyectos">
      <p>{{ proyecto.nombre }} - {{ proyecto.descripcion }} - {{ proyecto.link}}</p>
      <button (click)="eliminarProyectos(proyecto.id)">Eliminar</button>
    </li>
  </ul>