 <!-- Sección de navegación-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Menú Principal-->
     <a class="navbar-brand" routerLink="/principal">{{principal}}</a>
    <!--Boton Responsive cuando se contrae la pantalla-->
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [class.show]="menuAbierto">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="/proyectos" (click)="cerrarMenu()">{{ proyectos}}</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/experiencias" (click)="cerrarMenu()">{{ experiencias}}</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/experienciaVista" (click)="cerrarMenu()">{{ experienciaVista }}</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/proyectoVista" (click)="cerrarMenu()">{{ proyectoVista }}</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/cursos" (click)="cerrarMenu()">{{ cursos }}</a></li>
    </ul>
    </div>
  </nav>
